---
BasedOnStyle: Google
ColumnLimit: 80
Language: Cpp
Standard: "c++17"
IndentWidth: 2
AccessModifierOffset: -2
TabWidth: 2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
BreakConstructorInitializers: AfterColon
UseTab: Never
BreakBeforeBraces: Attach
AlignEscapedNewlines: LeftWithLastLine
DerivePointerAlignment: false
PointerAlignment: Left
Cpp11BracedListStyle: true
IndentPPDirectives: BeforeHash
BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: AlwaysBreak
ReflowComments: false
