---
BasedOnStyle: Google
ColumnLimit: 100
Language: Cpp
Standard: "c++17"
IndentWidth: 4
AccessModifierOffset: -4
TabWidth: 4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AlignEscapedNewlines: LeftWithLastLine
DerivePointerAlignment: false
PointerAlignment: Left
Cpp11BracedListStyle: true
IndentPPDirectives: BeforeHash
BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: Align
ReflowComments: false
AllowShortEnumsOnASingleLine: false
PackConstructorInitializers: NextLineOnly
